.background{
  background-image: var(--background-1);
  background-size: cover;
}

.background-card-body{
  background-image: var(--background-2);
  background-size: cover;
}
/*Card Style*/
.card{
  border: none;
}

.card-header {
  background-color: var(--color-9);
  color: var(--color-2);
}

.card-body {
  background-color: var(--color-3);
  border-style: dashed;
  border-color: var(--color-9);
  border-width: 0.25rem;
  border-top: 0;
}

/*Text Style*/
.title {
  font-variant: small-caps;
}
.text {
  color: var(--color-txt-1);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.alert {
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 500;
}



p.titulo {
  font-variant: small-caps;
  font-weight: 500;
  font-size: 1.2rem;
}

.cursor {
  cursor: pointer;
}

/*Aviso de que el campo es invalido*/
input.ng-invalid.ng-touched {
  border: solid 2px #721817 !important;
}
/*Aviso de que el campo es valido*/
input.ng-valid.ng-touched {
  border: solid 2px #0b6e4f !important;
}
/*Fondo del campo para el input*/
input {
  background-color: var(--color-2) !important;
  font-weight: 500;
}
