<div class="row background d-flex justify-content-center">
  <div class="col-12 col-md-9 col-lg-5">
    <main class="card text-center mt-3 mb-3">
      <!-- Encabezado de la tarjeta -->
      <div class="card-header p-4 p-sm-3 p-md-4">
        <p [ngClass]="title.class">{{title.text}}</p>
      </div>
      <div class="card-body background-card-body text-start p-4 p-md-5 rounded">
        <form [formGroup]="formLogin" (ngSubmit)="sendSignIn()">
          <!-- Título del formulario -->
          <div class="row">
            <p [ngClass]="form.title.class">{{form.title.text}}</p>
          </div>
          <!-- Input del e-mail -->
          <div class="row">
            <app-input-form [form]="formLogin" [component]="form.email"></app-input-form>
          </div>
          <!-- Input del nombre -->
          <div class="row">
            <app-input-form [form]="formLogin" [component]="form.firstName"></app-input-form>
          </div>
          <!-- Input del apellido paterno -->
          <div class="row">
            <app-input-form [form]="formLogin" [component]="form.surnamePaternal"></app-input-form>
          </div>
          <!-- Input del apellido materno -->
          <div class="row">
            <app-input-form [form]="formLogin" [component]="form.surnameMaternal"></app-input-form>
          </div>
          <!-- Input del password -->
          <div class="row">
            <app-input-form [form]="formLogin" [component]="form.password"></app-input-form>
          </div>
          <!-- Input de la confirmación del password -->
          <div class="row">
            <div class="d-inline col-10">
              <div class="row">
                <app-input-form [form]="formLogin" [component]="form.passwordC"></app-input-form>
              </div>
            </div>
            <div class="d-inline col-1">
              <div class="row pt-2">
                <div class="col-12">
                  <!-- <a [title]="form.passwordC.button.title" [ngClass]="form.passwordC.button.class"
                  (click)="changeType(form.passwordC.input.type)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                    viewBox="0 0 16 16">
                    <path
                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                  </svg>
                </a> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Mensaje de alerta -->
          <div class="row">
            <app-alert [alert]="alert"></app-alert>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="text-center pt-1 mb-3 pb-1">
                <button [disabled]="formLogin.invalid" [ngClass]="form.button.class">{{form.button.text}}
                </button>
              </div>
            </div>
          </div>
          <div class="row g-0 justify-content-center">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-around text-center pb-4 mt-3 texto">
                <div>
                  <p [ngClass]="form.logIn.class">{{form.logIn.text}}</p>
                  <a [routerLink]="form.logIn.button.router" [ngClass]="form.logIn.button.class">
                    {{form.logIn.button.text}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
